/*NULLSTYLE*/

@import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*BODY*/
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Source Serif Pro";
	font-size: 14px;
}
h1 {
	font-family: "Engagement";
	font-size: 80px;
	color: #877f88;
}
h2 {
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 2px;
}

h3 {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 2px;
}
h4 {
	font-size: 18px;
	font-weight: 600;
}
h5 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0px 0px 5px 0px;
}
h5 span {
	display: block;
	height: 5px;
	width: 80%;
	background-color: #e0cbdb;
	margin: 10px 0px;
}
.burger {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 30px;
	width: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.burger__menu {
	display: none;
}
.burger span {
	display: none;
}
.css {
	width: 60%;
	background-color: #877f88;
}
.git {
	width: 50%;
	background-color: #877f88;
}
.js {
	width: 50%;
	background-color: #877f88;
}
.htm {
	width: 70%;
	background-color: #877f88;
}
a {
	color: #000;
	transition: all 0.2s ease 0s;
}
a:hover {
	color: #555;
	transition: all 0.2s ease 0s;
}
a:after {
	content: "";
	display: block;
	height: 1px;
	width: 0%;
	background-color: #000;
	transition: all 0.2s ease 0s;
}
a:hover:after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: #000;
	transition: all 0.3s ease 0s;
}

/*WRAPPER*/
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	background-color: #e0cbdb;
	padding: 20px 20px;
}
.container {
	position: relative;
	min-height: 100vh;
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: #dfd5d9;
	box-shadow: -10px -5px 40px 5px rgb(34 60 80 / 30%);
}
.section__container {
	min-height: 100vh;
	padding: 10px 10px;
}
.content {
	flex: 1 0 auto;
	max-width: 100%;
}
.columns {
	display: flex;
	max-width: 100%;
}

/*COLUMN LEFT*/

.column__left {
	width: 35%;
	flex: 0 1 35%;
}
.cv__image {
	min-height: 100px;
	min-width: 100px;
	border-radius: 50%;
	overflow: hidden;

	margin: 0px 0px 50px 0px;
}
.cv__image img {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}
.cv__info {
	max-width: 90%;
	margin: 0 auto;
}
.cv__item {
	margin: 0px 0px 20px 0px;
}

.bar {
	border-radius: 20px;
	height: 50px;
	width: 100%;
	background-color: #877f88;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bar span {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	margin: 0px 0px 0px -5px;
	background-color: #fff;
	border-radius: 50%;
}
.bar h2 {
	width: 80%;
	padding: 0px 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.bar img {
	max-height: 70%;
	max-width: 70%;
}
.item__ul {
	margin: 20px 0px 0px 0px;
}
.item__ul li {
	padding: 0px 0px 0px 30px;
	margin: 0px 0px 10px 0px;
	height: 25px;

	display: flex;
	align-items: center;
	background-size: 20px;
}
.item__ul li a {
	display: inline-block;
	padding: 0px 0px 0px 10px;
}
.phone {
	background: url("image/logo/phone/phone-call.png") left no-repeat;
}
.mail {
	background: url("image/logo/mail/email.png") left no-repeat;
}
.discord {
	background: url("image/logo/discord/discord.png") left no-repeat;
}
.telegram {
	background: url("image/logo/telegram/telegram.png") left no-repeat;
}
.vk {
	background: url("image/logo/social/vk-reproductor.png") left no-repeat;
}
.fb {
	background: url("image/logo/social/facebook.png") left no-repeat;
}
.inst {
	background: url("image/logo/social/instagram.png") left no-repeat;
}
.linked {
	background: url("image/logo/social/linkedin.png") left no-repeat;
}
.cv__interests {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.interests__container h4 {
	padding: 0px 0px 10px 0px;
}
.interests__container {
	flex: 0 1 30%;
	margin: 10px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.interests__img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
}
.interests__img:hover {
	background: #ccc;
	transition: all 0.3s ease 0s;
}
.interests__container img {
	max-width: 60%;
	max-height: 60%;
}
/*COLUMN RIGHT*/
.column__right {
	background-color: #fff;
	width: 65%;
	overflow: hidden;
	flex: 0 1 65%;
	line-height: 1.3;
}
.name:after {
	content: "";
	display: block;
	height: 2px;
	width: 20%;
	background-color: #877f88;
	margin: 20px 0px 0px 0px;
}
.name-s:after {
	margin: 10px 0px 10px 0px;
	width: 15%;
}

.header__name {
	font-size: 24px;
	font-weight: 500;
}
.header {
	margin: 0px 0px 20px 0px;
	padding: 30px 0px;
}

.main__info {
	display: flex;
	flex-direction: column;
}
.main__info-item {
	padding: 10px 0px;
}
.main__code {
	padding: 20px 0px;
}
.code {
	width: 80%;
}
.projects {
	display: flex;
	flex-wrap: wrap;
}
.project {
	flex: 1 1 30%;
	padding: 20px 10px;
}
.project a:hover:after {
	content: "";
	display: none;
}
.project a:after {
	content: "";
	display: none;
}
.project__img {
	display: block;
	max-height: 400px;
	max-width: 400px;
	height: 100%;
}
.project__img img {
	height: 90%;
	width: 90%;
}
/*FOOTER*/
.footer {
	max-height: 200px;
	flex: 0 1 100%;
}
.footer__info {
	display: flex;
	justify-content: space-between;
	background-color: #9a7b88;
	padding: 10px;
}
.footer__autor {
	padding: 10px;
}
.github {
	background: url("image/logo/github-sign.png") left no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: 20px;
	padding: 0px 0px 0px 30px;
	height: 25px;
}
.footer__autor p {
	text-align: center;
	margin: 30px 0px 0px 0px;
}
.footer__course {
	padding: 10px;
}
.course__logo {
	margin: 0 auto;
	height: 50px;
	width: 100px;
}
@media (max-width: 1300px) {
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
	}
	body {
		font-size: 12px;
	}
	.interests__img {
		width: 52px;
		height: 52px;
	}
	.item__ul li {
		height: 20px;
	}
}
@media (max-width: 1150px) {
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 12px;
	}
	h5 {
		font-size: 11px;
	}
	body {
		font-size: 10px;
	}
	ul.item__ul {
		padding: 5px 5px;
	}
}
@media (max-width: 850px) {
	.wrapper {
		padding: 0;
	}
	.container {
		width: 100%;
	}
	.burger span {
		display: inline-block;
		width: 90%;
		height: 5px;
		background: #9a7b88;
	}
	.burger__menu {
		height: 100vh;
		position: fixed;
		top: -200%;
		left: 20%;
		background: #9a7b88;
		opacity: 0.9;
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transition: all 0.5s ease 0s;
		z-index: 0;
	}
	.active {
		z-index: 100;
		top: 0;
		left: 20%;
		transition: all 0.5s ease 0s;
	}
	.menu__item {
		border: 1px solid #000;
		height: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		letter-spacing: 2px;
	}
	.item__ul {
		margin: 20px 0px 0px 0px;
	}
	.columns {
		flex-direction: column;
	}
	.column__left {
		width: 100%;
		flex: 0 1 100%;
	}
	.column__right {
		width: 100%;
		flex: 0 1 100%;
	}
	.cv__image {
		min-height: 100px;
		min-width: 100px;
		max-height: 400px;
		max-width: 400px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cv__info {
		margin: 20px auto;
	}
	.name:after {
		content: "";
		display: block;
		height: 2px;
		width: 20%;
		background-color: #877f88;
		margin: 20px auto;
		text-align: center;
	}
	.name-s:after {
		margin: 10px auto;
		width: 15%;
		text-align: center;
	}
	.code {
		width: 100%;
	}
	.name:after {
		margin: 10px auto;
	}
	.name-s:after {
		margin: 5px auto;
		width: 15%;
	}
	.header {
		margin: 0px 0px 10px 0px;
		padding: 15px 0px;
	}
	.main__info-item {
		padding: 5px 0px;
	}

	.project {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0 1 100%;
		padding: 10px 5px;
	}
	.project__img {
		display: block;
		max-height: 400px;
		max-width: 400px;
		height: 100%;
		width: 100%;
	}

	h5 span {
		width: 100%;
	}
	body {
		font-size: 14px;
		text-align: center;
	}
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
}
@media (max-width: 550px) {
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 12px;
	}
	h5 {
		font-size: 11px;
	}
	body {
		font-size: 10px;
	}
	ul.item__ul {
		padding: 5px 5px;
	}
	.interests__img {
		width: 52px;
		height: 52px;
	}
	.item__ul li {
		height: 20px;
	}
	.footer__info {
		display: flex;
		flex-direction: column;
		background-color: #9a7b88;
		padding: 10px;
	}
}
